In [39]:
import pandas as pd
import numpy as np

In [40]:
df = pd.read_csv("car_data.csv")

In [41]:
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

In [42]:
df.head()

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [43]:
df.shape

(301, 9)

In [44]:
df.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [45]:
X= df.drop("Selling_Price", axis=1)

In [46]:
X

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
296,city,2016,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.90,5464,Petrol,Dealer,Manual,0

In [47]:
y= df["Selling_Price"]

In [48]:
X["Year"]= 2023 - X["Year"]

In [49]:
X

,Car_Name,Year,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,9,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,10,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,6,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,12,4.15,5200,Petrol,Dealer,Manual,0
4,swift,9,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...
296,city,7,11.60,33988,Diesel,Dealer,Manual,0
297,brio,8,5.90,60000,Petrol,Dealer,Manual,0
298,city,14,11.00,87934,Petrol,Dealer,Manual,0
299,city,6,12.50,9000,Diesel,Dealer,Manual,0
300,brio,7,5.90,5464,Petrol,Dealer,Manual,0

In [50]:
X.drop(["Present_Price","Car_Name"], axis=1 , inplace=True)

In [51]:
X

     Year  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0       9       27000    Petrol      Dealer       Manual      0
1      10       43000    Diesel      Dealer       Manual      0
2       6        6900    Petrol      Dealer       Manual      0
3      12        5200    Petrol      Dealer       Manual      0
4       9       42450    Diesel      Dealer       Manual      0
..    ...         ...       ...         ...          ...    ...
296     7       33988    Diesel      Dealer       Manual      0
297     8       60000    Petrol      Dealer       Manual      0
298    14       87934    Petrol      Dealer       Manual      0
299     6        9000    Diesel      Dealer       Manual      0
300     7        5464    Petrol      Dealer       Manual      0

[301 rows x 6 columns]

In [52]:
X["Fuel_Type"].unique()

array(['Petrol', 'Diesel', 'CNG'], dtype=object)

In [53]:
X["Seller_Type"].unique()

array(['Dealer', 'Individual'], dtype=object)

In [54]:
X["Transmission"].unique()

array(['Manual', 'Automatic'], dtype=object)

In [65]:
X["Owner"].unique()

array([0, 1, 3], dtype=int64)

In [55]:
X= pd.get_dummies(data=X ,columns=["Fuel_Type" ,"Seller_Type", "Transmission"] , drop_first=True )

In [56]:
X

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,9,27000,0,0,1,0,1
1,10,43000,0,1,0,0,1
2,6,6900,0,0,1,0,1
3,12,5200,0,0,1,0,1
4,9,42450,0,1,0,0,1
...,...,...,...,...,...,...,...
296,7,33988,0,1,0,0,1
297,8,60000,0,0,1,0,1
298,14,87934,0,0,1,0,1
299,6,9000,0,1,0,0,1
300,7,5464,0,0,1,0,1

In [58]:
from sklearn.preprocessing import MinMaxScaler

In [59]:
scaler=MinMaxScaler()

In [67]:
X["Year"] = scaler.fit_transform(X[["Year"]])

In [68]:
X["Kms_Driven"] = scaler.fit_transform(X[["Kms_Driven"]])

In [69]:
X["Owner"] = scaler.fit(X[["Owner"]])

In [ ]:
X

In [ ]:
X["Owner"] = scaler.fit_transform(X[["Owner"]])

In [70]:
X

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
0,0.266667,0.053053,0.0,0,1,0,1
1,0.333333,0.085085,0.0,1,0,0,1
2,0.066667,0.012813,0.0,0,1,0,1
3,0.466667,0.009409,0.0,0,1,0,1
4,0.266667,0.083984,0.0,1,0,0,1
...,...,...,...,...,...,...,...
296,0.133333,0.067043,0.0,1,0,0,1
297,0.200000,0.119119,0.0,0,1,0,1
298,0.600000,0.175043,0.0,0,1,0,1
299,0.066667,0.017017,0.0,1,0,0,1
300,0.133333,0.009938,0.0,0,1,0,1

In [71]:
X["Owner"].unique()

array([0.        , 0.33333333, 1.        ])

In [72]:
X.describe()

,Year,Kms_Driven,Owner,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Individual,Transmission_Manual
count,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000,301.000000
mean,0.291473,0.072967,0.014396,0.199336,0.794020,0.352159,0.867110
std,0.192770,0.077852,0.082638,0.400166,0.405089,0.478439,0.340021
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.133333,0.029029,0.000000,0.000000,1.000000,0.000000,1.000000
50%,0.266667,0.063063,0.000000,0.000000,1.000000,0.000000,1.000000
75%,0.400000,0.096631,0.000000,0.000000,1.000000,1.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

# Without train_test_split model working:

In [88]:
 from  sklearn.linear_model import LinearRegression

In [89]:
model=LinearRegression()

In [90]:
model.fit(X , y)

LinearRegression()

In [91]:
model.score(X,y)

0.5816549394812498

In [93]:
y_prediction= model.predict(X)
y_prediction

array([ 4.74569690e+00,  9.13895127e+00,  5.77497331e+00,  3.89205178e+00,
        9.45626459e+00,  1.08855519e+01,  5.09509332e+00,  9.80908561e+00,
        1.01792392e+01,  9.77162040e+00,  5.79494666e+00,  9.73543364e+00,
        9.73826707e+00,  5.06489647e+00,  2.95928367e+00,  1.00839750e+01,
        9.77450846e+00,  1.00839750e+01,  3.76040127e+00,  3.42512909e+00,
        5.38409605e+00,  5.79383586e+00,  8.33152675e+00,  4.66907302e+00,
        4.30544585e+00,  3.83001495e+00,  4.31274357e+00,  1.52051344e+00,
        3.41213489e+00,  9.76058371e+00,  8.78856980e+00,  3.68665956e+00,
        9.47072588e+00,  9.44557581e+00,  9.44557581e+00,  2.43959873e+00,
        4.96946454e+00, -3.35403504e+00,  5.44664007e+00,  1.13390130e+00,
        1.00133534e+01,  4.66309569e+00,  2.72570750e+00,  9.44230630e+00,
        4.01927251e+00,  9.42325917e+00,  4.27336694e+00,  2.06634996e+00,
        5.06544139e+00,  1.02760659e+01,  1.31925496e+01,  1.44088042e+01,
        1.51436120e+01,  9.16510177e+00, -2.56892716e+00,  7.61767740e+00,
        5.00397462e+00,  3.38925671e+00,  4.70768427e+00,  1.40896047e+01,
        4.37619299e+00,  5.00374827e+00,  1.39345126e+01,  1.43794625e+01,
        1.51813371e+01,  9.44557581e+00,  1.03850496e+01,  8.12686073e+00,
        3.54498085e+00,  5.43858786e+00,  9.33659219e+00,  8.50055212e+00,
        4.30912615e+00,  3.73360636e+00,  9.28629205e+00,  5.02297969e+00,
        4.24206349e+00,  5.76953333e+00,  7.89076852e+00,  1.32583883e+01,
        1.01678085e+01,  9.78154210e+00,  1.51436120e+01,  9.78992546e+00,
        5.97263196e+00,  2.19833706e+00,  8.04721885e+00,  3.99412244e+00,
        4.34685544e+00,  4.69120508e+00,  3.02394868e+00,  9.39006961e+00,
        1.70942528e+00,  1.44088042e+01,  7.22302762e+00,  3.92705560e+00,
        1.47699206e+01,  5.76742829e+00,  4.35523880e+00,  8.16448523e+00,
        1.26083569e+00,  1.58255027e+00,  1.57165191e+00,  1.58338860e+00,
        1.57123274e+00,  8.67443412e-01,  5.88552716e-01,  2.65511859e-01,
        1.19796052e+00,  1.54231016e+00,  1.24826065e+00,  1.23694312e+00,
        6.14053180e-01,  1.12670199e+00,  8.87144298e-01,  8.85048459e-01,
        1.90061657e-01,  8.99719332e-01,  8.49419197e-01,  3.05751967e-01,
        1.24951816e+00, -3.30551345e-01,  1.24826065e+00,  1.33474006e-01,
       -3.48251657e-02, -1.09931168e+00,  1.58296944e+00,  1.24406897e+00,
        1.57584358e+00,  1.56746023e+00,  1.54231016e+00,  8.82952620e-01,
        1.57374774e+00,  1.27131488e+00,  1.53895682e+00,  9.37444433e-01,
        5.44890495e-01,  2.61320181e-01,  1.21053555e+00,  8.88820969e-01,
        1.94253335e-01,  1.18957716e+00,  8.36844164e-01,  1.16861877e+00,
        5.38602978e-01, -6.62627498e-02,  5.80519757e-01,  7.15285505e-01,
       -8.05262169e-01,  1.17281045e+00, -3.26778835e-01,  1.14346871e+00,
       -4.11126825e-02,  1.39761523e-01,  6.09861502e-01,  6.19765654e+00,
        1.52554345e+00,  8.61994231e-01,  1.55237019e+00,  6.19891405e+00,
       -4.02229037e-01,  5.46986334e-01, -4.74001994e-02, -7.29811968e-01,
        1.21472723e+00,  5.89857702e+00,  1.26921904e+00,  4.67344454e-01,
        2.78086893e-01,  8.99719332e-01, -9.67509849e-03,  9.30318580e-01,
        5.85968938e-01,  6.21023158e+00,  7.96604056e-01, -6.16004608e-01,
       -4.27379104e-01,  5.80007259e+00,  5.19101519e+00, -1.50946405e+00,
       -2.38121543e-01,  1.06382683e+00,  2.02636691e-01,  2.40361792e-01,
       -1.34131561e+00,  3.37264549e+00,  3.91840856e+00,  1.94253335e-01,
        2.52936826e-01, -2.42221844e+00, -1.49815313e+00, -7.70923412e-02,
       -1.75273210e+00,  2.42107234e-01, -1.45623635e+00,  8.11694097e-01,
        1.28477074e+00, -7.54962035e-01, -4.34017017e-01, -1.78381928e+00,
       -2.26327928e+00,  8.14537289e+00,  5.05567478e+00,  3.68976141e+00,
        5.05533106e+00,  5.48856694e+00,  5.75158794e+00,  9.65528442e+00,
        5.78949748e+00,  9.86066002e+00,  4.07889913e+00,  9.76672452e+00,
        5.39385846e+00,  3.78137472e+00,  5.71958448e+00,  4.07753683e+00,
        5.43649202e+00,  5.42601282e+00,  4.66991974e+00,  4.07795600e+00,
        5.64256659e+00,  9.03699275e+00,  9.30879298e+00,  9.69191983e+00,
        9.01939609e+00,  3.81946449e+00,  5.07043787e+00,  3.67492287e+00,
        8.75268485e+00,  8.78566497e+00,  9.13056792e+00,  5.74101653e+00,
        9.74706959e+00,  9.09703449e+00,  5.15505108e+00,  5.74042970e+00,
        5.43922080e+00,  9.66417512e+00,  4.29135343e+00,  4.12947591e+00,
        8.86870211e+00,  5.03786185e+00,  4.71635515e+00,  5.45954625e+00,
        9.11380120e+00,  8.70657639e+00,  4.08214768e+00,  5.02297969e+00,
        4.41811396e+00,  5.41762947e+00,  1.01135934e+01,  4.30619197e+00,
        9.66941038e+00,  9.43300078e+00,  4.31649931e+00,  4.00386809e+00,
        5.28114005e+00,  5.00485488e+00,  5.06908815e+00,  4.70774544e+00,
        5.36639459e+00,  5.46541460e+00,  5.00611657e+00,  5.42181276e+00,
        5.00610400e+00,  5.71503232e+00,  4.71216347e+00,  1.01827560e+01,
        5.72425401e+00,  5.09495918e+00,  3.62319337e+00,  2.99225121e+00,
        5.05818979e+00,  3.34229735e+00,  4.78970951e+00,  9.98724346e+00,
        5.06992648e+00,  5.08258535e+00,  5.47212128e+00,  4.69067693e+00,
        5.11324747e+00,  2.12731372e+00,  9.37012561e+00,  5.45112098e+00,
        4.50278586e+00,  1.00530277e+01,  5.36913595e+00,  9.61670841e+00,
        5.03136305e+00,  5.44286337e+00,  4.77923032e+00,  5.04214823e+00,
        5.43858786e+00,  3.43955685e+00,  4.72046719e+00,  9.69738997e+00,
        1.01217504e+01,  4.92237942e+00,  2.91524171e+00,  1.05414999e+01,
        5.46598466e+00])

In [73]:
from sklearn.model_selection import train_test_split

In [74]:
X_train, X_test, y_train, y_test = train_test_split( X, y, test_size=0.33, random_state=42)

In [78]:
len(X_train)

201

In [79]:
len(y_train)

201

In [75]:
 from  sklearn.linear_model import LinearRegression

In [76]:
model=LinearRegression()

In [80]:
model.fit(X_train , y_train)

LinearRegression()

In [82]:
model.score(X_test , y_test)

0.6277335827814441

In [83]:
y_pred = model.predict(X_test)

In [87]:
 y_pred[0:3]

array([5.55891467, 5.13809034, 9.24487324])